.Slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    flex-direction: column;
    background-color: #fff;
    /* color and size de flechas */
    --swiper-navigation-color: #000000;
    --swiper-navigation-size: 20px;
}

.titulo{
    margin-top: 70px;
    margin-bottom: 70px;
}

.swiper-container {
    background-color: #854BF1;
    position: fixed;
    height: max-content;
    /* height: 55%; */
    width: 90%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1px;
}

.swiper-slide {
    margin-top: 5px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-content {
    background-color: #fff;
    width: 399px;
    height: 359px;
    margin: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px;
    /* new */
    line-height: 15px;
}

.user-image {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    /* background-color: rgb(233, 233, 233); */
    border-radius: 45px;
    border-color: #854BF1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 70px; */
}

.user-title {
    line-height: 15px;
    margin-bottom: 12px;
    color: #854BF1;
    font-weight: bold;
}

.user-photo {
    border-radius: 75px;
    border-color: #854BF1;
    border-style: solid;
    width: 130px;
    margin-bottom: 70px;
}

.user-testimonial {
    font-size: medium;
}

@media (max-height: 320px)  and  (orientation: landscape){
    .Slider {
        
        height: 195vh;
       
    }
}

@media (min-width: 640px)  and  (min-height: 1024px){
    .Slider {
        
        height: 65vh;
       
    }
}

